<h1 data-text="404" style="font-size: 18vw; line-height: 1em; position: relative;">404</h1>
<h4 data-text="OPPS! PAGE NOT FOUND" 
    style="font-size: 2em; font-weight: bold; margin-bottom: 20px; color: #000; max-width: 600px;
            position: relative;">
    OPPS! PAGE NOT FOUND
</h4>
<p style="font-size: 1.5em; color: #0d0d0d;">
    Sorry, we cannot find the page meets your request.
</p>