<head>
    <style>
        body {
            margin: 0;
            padding-right: 0;
            background: linear-gradient(135deg, #71b7e6, #69a6ce,#b98acc) repeat fixed;
            height: 100vh;
            }
        .box{
            position: absolute;
            padding-left: 40px; padding-right: 40px;
            left: 15.5%;
            width: 70%; height: 90%;
            background: white;
            box-shadow: 0 0 8px rgba(0,0,0,0.2);
        }
        #MenunotAtive:hover{
            background: rgb(231, 231, 231);
        }
        form #input_field{
            align-items: center;
        }
        #input_field input{
            height: 40px;
            padding-left: 10px; padding-right: 10px;
            font-size: 17px;
            border-radius: 5px;
            outline: none;
            border: 1px solid silver;
        }
        #input_field input:focus{
            border-color: lightskyblue;
            border-width: 2px;
            border-bottom-width: 3px;
        }
        #changepwdbtn{
            border-radius: 10px; border: none; 
            background: #384aeb; color: white;
            font-weight: 500;
            width: 25%; height: 40px;
            cursor: pointer;
        }
        </style>
    </head>

    <body>
    <div class="box">
        <div class="row mt-5">
            <div class="col-sm-3">
                <div class="card">
                    <h4 class="card-header">
                        Profile menu
                    </h4>
                    <div class="list-group list-group-flush">
                        <a id="MenunotAtive" href="#" class="list-group-item list-group-item-action">
                            Information
                        </a>
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            Change password
                        </a>
                        <a id="MenunotAtive" href="#" class="list-group-item list-group-item-action">
                            Favourite & Won products
                        </a>
                        <a id="MenunotAtive" href="#" class="list-group-item list-group-item-action">
                            Self Point
                        </a>
                        <a id="MenunotAtive" href="#" class="list-group-item list-group-item-action">
                            Selling
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 mb-3">
                <div class="card">
                    <h4 class="card-header">
                        Change your password place
                    </h4>
                    <div class="card-body">
                        <form method="post">
                            <div id="input_field" class="row mb-4 mt-2">
                                <label class="col-sm-3" for="txtPassword">Current Password</label>
                                <input class="col-sm-5" type="password" id="txtCurPassword" name="password" required/>
                                <span id="eye_icon" class="col-sm-3" onclick="mySetHideCurrentPassword()">
                                    <i id="showcur" class="fa fa-eye" aria-hidden="true" 
                                        style="color: lightskyblue; display: none;
                                                font-size: 25px;"></i>
                                    <i id="hidecur" class="fa fa-eye-slash" aria-hidden="true" 
                                        style="color: lightgray; font-size: 25px;"></i>
                                </span>
                            </div>
                            <div id="input_field" class="row mb-4 mt-2">
                                <label class="col-sm-3" for="txtPassword">New Password</label>
                                <input class="col-sm-5" type="password" id="txtNewPassword" name="password" required/>
                                <span id="eye_icon" class="col-sm-3" onclick="mySetHideNewPassword()">
                                    <i id="shownew" class="fa fa-eye" aria-hidden="true" 
                                        style="color: lightskyblue; display: none;
                                                font-size: 25px;"></i>
                                    <i id="hidenew" class="fa fa-eye-slash" aria-hidden="true" 
                                        style="color: lightgray; font-size: 25px;"></i>
                                </span>
                            </div>
                            <div id="input_field" class="row mb-4 mt-2">
                                <label class="col-sm-3" for="txtPassword">Confirm Password</label>
                                <input class="col-sm-5" type="password" id="txtConfPassword" name="password" required/>
                                <span id="eye_icon" class="col-sm-3" onclick="mySetHideConfirmPassword()">
                                    <i id="showconfirm" class="fa fa-eye" aria-hidden="true" 
                                        style="color: lightskyblue; display: none;
                                                font-size: 25px;"></i>
                                    <i id="hideconfirm" class="fa fa-eye-slash" aria-hidden="true" 
                                        style="color: lightgray; font-size: 25px;"></i>
                                </span>
                            </div>
                            <div id="btn_field">
                                <button type="button" onclick="ChangePwdButtonClick()" id="changepwdbtn">
                                    Change password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="Button click">
        function ChangePwdButtonClick(){
            let changepwdbtn = document.getElementById("changepwdbtn");
            let CurPassword = document.getElementById("txtCurPassword");
            let NewPassword = document.getElementById("txtNewPassword");
            let ConfPassword = document.getElementById("txtConfPassword");
            
            //Check current pass, if right, check if new pass and confirm pass,
            //if same, post password

        }
    </script>
    <script id="setShowHidePassField">
        function mySetHideCurrentPassword(){
            let passfield = document.getElementById("txtCurPassword");
            let hide = document.getElementById("hidecur");
            let show = document.getElementById("showcur");

            if(passfield.type === "password"){
                passfield.type = "text";
                passfield.style.paddingRight="41px";
                hide.style.display = "none";
                show.style.display = "block";
            }
            else{
                passfield.type = "password";
                show.style.display = "none";
                hide.style.display = "block";
            }
        }
        function mySetHideNewPassword(){
            let passfield = document.getElementById("txtNewPassword");
            let hide = document.getElementById("hidenew");
            let show = document.getElementById("shownew");

            if(passfield.type === "password"){
                passfield.type = "text";
                passfield.style.paddingRight="41px";
                hide.style.display = "none";
                show.style.display = "block";
            }
            else{
                passfield.type = "password";
                show.style.display = "none";
                hide.style.display = "block";
            }
        }
        function mySetHideConfirmPassword(){
            let passfield = document.getElementById("txtConfPassword");
            let hide = document.getElementById("hideconfirm");
            let show = document.getElementById("showconfirm");

            if(passfield.type === "password"){
                passfield.type = "text";
                passfield.style.paddingRight="41px";
                hide.style.display = "none";
                show.style.display = "block";
            }
            else{
                passfield.type = "password";
                show.style.display = "none";
                hide.style.display = "block";
            }
        }
    </script>
</body>